<div class="mandiv">
    <h1 style="background-color: #213d77; color: white;">Mission & Vision</h1>
    <hr style="border-top: 1.5px solid #eee; width:100%;">
    <p>
    <h2 style="background-color: #213d77; color: white;"> College Mission</h2>
    <p>To encourage and insprire teachers and students to attain excellence in education.</p>

    <hr>
    <h2 style="background-color: #213d77; color: white;">College Vision</h2>
    <p>To bring higher education to the door steps of the economically under privilages students, especially belonging
        to
        the Middle class family, emphasizing on their all round development.
    </p>
</div>