<div class="mainDiv">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class=" imgDiv carousel-item active">
              <img class="d-block w-100" src="/assets/images/image1.jpg" alt="First slide">
            </div>
            <div class="imgDiv carousel-item">
              <img class="d-block w-100" src="/assets/images/image24.jpg" alt="Second slide">
            </div>
            <div class="imgDiv carousel-item">
              <img class="d-block w-100" src="/assets/images/image35.jpg" alt="Third slide">
            </div>
            <div class="imgDiv carousel-item">
              <img class="d-block w-100" src="/assets/images/image21.jpg" alt="Fourth slide">
            </div>
            <div class="imgDiv carousel-item">
              <img class="d-block w-100" src="/assets/images/image37.jpg" alt="Fifth slide">
            </div>
            <div class="imgDiv carousel-item">
              <img class="d-block w-100" src="/assets/images/image8.jpg" alt="Sixth slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="impLnks col-sm-4">
        <h3 style="background-color: #213d77; color: white;">
          Important Notic & Links
        </h3>
          <marquee width="100%" direction="left" height="30px">
              New Admission start date from June 2021
          </marquee>
          <marquee width="100%" direction="left" height="30px">
            News 2
        </marquee>
        <marquee width="100%" direction="left" height="30px">
          News 3
      </marquee>
      </div>
    </div>
  </div>

</div>