

    .container{
        height: auto;
        width: auto;
        margin-top: 5px;
        border: 2px solid rgb(31, 168, 31);
        /* border-radius: 5px;*/
      border-radius: 4px; 
    } 
    #fileds{
        
        padding: 1px;
        padding-left: 5px;
        /* padding-right: 22px; */
        margin-top: 10px 0 0 0;
        /* margin-right:0px; */
        border-radius: 4px; 
    }
   
    .instruction{
        margin-left: 40px;
    }
    
    .btnRow{
    float: right;
    padding-left: 5px;
    margin-top: 100px;
    height: 100px;
    width:auto;
    }
.btnColl{
    box-shadow: none;
    border: none;
    margin-top: 32px;
    width: 100%;
    margin-left:2%;
    content: center;
    height: max-content;
}

.btn{
    padding: 5px;
    margin-right: none;
    width: 100%;
    zoom: 0;
}
#radiobutton{
    padding-left: 3px;
    margin-right: 4px;
}
#select_date{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}
.dataRow{
    margin-top: 10px;
    background-color: #bdc1c5;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
}
.paginext{
    float: right;
    border:2px solid blue;
    margin-top: 0px;
    background-color:none;
}

.newAddbutton{
float: right;
}
 .ngx-pagination button:hover {
    background:none;
}

.nav-link{
    float: left;
    margin-right: 23px;
    list-style-type: none;
    color : white;
    
    
}
.nav-item{
    list-style-type: none;
    float: left;
}