<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>

<body>
  <!-- <div class="container">
    <form action="">
      <div class="row">
        <div class="col">
          <a (click)="signInWithFB()" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
          </a>
          <a href="#" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
          </a>
          <a (click)="signInWithGoogle()" class="google btn">
            <i class="fa fa-google fa-fw"></i> Login with Google+
          </a>
        </div>

        <div class="vl">
          <span class="vl-innertext">or</span>
        </div>
        <div class="col">
          <div class="hide-md-lg">
            <p>Or sign in manually:</p>
          </div>
          <div class="form-group">
            <input [(ngModel)]="username" type="text" class="form-control" #uname 
              name="username">
          </div>
          <div class="form-group">
            <input [ngModel]="pass" type="password" class="form-control" #pass required name="pass"
              >
          </div>
          <div class="form-group">
            <button class="btn btn-success" (click)="loginUser(uname.value,pass.value)">Log in</button>
          </div>
        </div>
      </div>
    </form>
  </div> -->
  <!--   
  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a href="#" style="color:white" class="btn">Sign up</a>
      </div>
      <div class="col">
        <a href="#" style="color:white" class="btn">Forgot password?</a>
      </div>
    </div>
  </div> -->
  <!-- </body>
</html> -->
  <!-- <body>
    
    <div class="mainDiv">
        <div class="Login">
            <h2 [style.color]="hasError ? 'red': 'green '">Log In </h2>
            <form method="post">
                <p class="hint-text">Sign in with your social media account</p>

                <div class="form-group">
                    <input [ngModel]="uname" type="text" class="form-control" #uname placeholder="Username"
                        required="required">
                </div>
                {{uname.value}}
                <div class="form-group">
                    <input [ngModel]="pass" type="password" class="form-control" #pass placeholder="Password"
                        required="required">
                </div>
                {{pass.value}}
                <input type="submit" (click)="loginUser(uname.vame.value,pass.value)" class="btn btn-primary btn-block"
                    value="Login">

                <div class="form-footer">
                    <a href="#">Forgot Your password?</a>
                </div>
                <span style="color: red;">{{msg}}</span>
            </form>
        </div>
    </div>
    </body>
    </html> -->

  <!-- <div class="wrapper">
        <h5 class="card-title">{{username}}</h5>
        <div class="welcome_text"> -->
  <!-- <form class="welcome_form">
                <div class="form-group">
                    <input [(ngModel)]="username" type="text" class="form-control" #uname
                        placeholder="Enter the User Name" name="username">
                </div>
                <span style="color: red;">{{msg}}</span>
            </form> -->
  <!-- <img src="{{ user.photoUrl }}">
            <div>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
              <button class="btn btn-success" (click)="signOut()">Signout</button>
            </div>
        </div>
    </div> -->
    <div class="login-form">
      <form>
          <h2 class="text-center">Sign in</h2>		
          <div class="text-center social-btn">
              <a (click)="signInWithFB()" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
              <a href="#" class="btn btn-info btn-block"><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>
        <a (click)="signInWithGoogle()" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
          </div>
      <div class="or-seperator"><i>or</i></div>
          <div class="form-group">
            <div class="input-group">                
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <span class="fa fa-user"></span>
                      </span>                    
                  </div>
                  <input  [(ngModel)]="username" type="text" class="form-control" name="username" placeholder="Username" required="required">
              </div>
              hiiii{{username}}
          </div>
      <div class="form-group">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-lock"></i>
                      </span>                    
                  </div>
                  <input [(ngModel)]="pass" type="password" class="form-control" name="password" placeholder="Password" required="required">
              </div>
              {{pass}}
          </div>        
          <div class="form-group">
              <button type="submit" (click)="loginUser($event)" class="btn btn-success btn-block login-btn">Sign in</button>
          </div>
          <div class="clearfix">
              <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
              <a href="#" class="float-right text-success">Forgot Password?</a>
          </div>  
          
      </form>
      <div class="hint-text">Don't have an account? <a href="#" class="text-success">Register Now!</a></div>
  </div>
</body>

</html>