<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <div class="faculty-list">
                <button data-toggle="collapse" class="buttonmargin btn btn-info" data-target="#inter">InterMediate Faculty</button>
                <div id="inter" data-target="#F1" class="collapse">
                    <button class="btn btn-outline-info" data-toggle="collapse" data-target="#I1">Faculty1</button>
                    <button class="btn btn-outline-info" data-toggle="collapse" data-target="#I2">Faculty2</button>
                    <button  class="btn btn-outline-info" data-toggle="collapse" data-target="#I3">Faculty3</button>
                    <button class="btn btn-outline-info" data-toggle="collapse" data-target="#I4">Faculty4</button>
                </div>
            </div>

            <div class="faculty-list">
                <button data-toggle="collapse" class="buttonmargin btn btn-success" data-target="#matric">Matric Faculty</button>
                <div id="matric" data-target="#F2" class="collapse">
                    <button class="btn btn-outline-success" data-toggle="collapse" data-target="#m1">Faculty1</button>
                    <button class="btn btn-outline-success" data-toggle="collapse" data-target="#m2">Faculty2</button>
                    <button  class="btn btn-outline-success" data-toggle="collapse" data-target="#m3">Faculty3</button>
                    <button class="btn btn-outline-success" data-toggle="collapse" data-target="#m4">Faculty4</button>
                
                </div>
            </div>
            <div class="faculty-list">
                <button data-toggle="collapse" class="buttonmargin btn btn-secondary" data-target="#senior">Senior & Junior Class Faculty</button>
                <div id="senior" data-target="#F1" class="collapse">
                    <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#F3">Faculty1</button>
                    <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#F3">Faculty2</button>
                    <button  class="btn btn-outline-secondary" data-toggle="collapse" data-target="#F3">Faculty3</button>
                    <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#F3">Faculty4</button>
                
                </div>
            </div>
            <div class="faculty-list">
                <button data-toggle="collapse" class="buttonmargin btn btn-primary" data-target="#iti">ITI Faculty</button>
                <div id="iti" data-target="#F1" class="collapse">
                    <button class="btn btn-outline-info" data-toggle="collapse" data-target="#F1">Faculty1</button>
                    <button class="btn btn-outline-info" data-toggle="collapse" data-target="#F1">Faculty2</button>
                    <button  class="btn btn-outline-info" data-toggle="collapse" data-target="#F1">Faculty3</button>
                    <button class="btn btn-outline-info" data-toggle="collapse" data-target="#F1">Faculty4</button>
                
                </div>
            </div>
          
        </div>
        <div class="details col-sm">
            <div id="I1" class="collapse">
                Hello This is Intermediate F1
            </div>
            <div id="I2" class="collapse">
                Hello This is Intermediate F2
            </div>
            <div id="I3" class="collapse">
                Hello This is Intermediate F3
            </div>
            <div id="I4" class="collapse">
                Hello This is Intermediate F4
            </div>
            <div id="m1" class="collapse">
                Hello This is matric
            </div>
            <div id="m2" class="collapse">
                Hello This is demo
            </div>
            <div id="m3" class="collapse">
                Hello This is Intermediate
            </div>

        </div>

    </div>
</div>