<div class="row container">
    <form method="post" [formGroup]="dynamicForm">
        <div formArrayName="fullname" *ngFor="let item of dynamicForm.get('fullname').controls; let i = index"
        [formGroupName]="i" class="section-card">
            <div class="col-sm-12 form-group">
                <label for="std_name" class="col-sm-8 col-form-label">First Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control"  name="std_name"
                       formControlName="name" placeholder="Enter the full name" required>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label for="std_name" class="col-sm-8 col-form-label">Middle Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control"  name="std_name"
                        placeholder="Enter the full name" required>
                    
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label for="std_name" class="col-sm-8 col-form-label">Last Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control"  name="std_name"
                        placeholder="Enter the full name" required>
                    
                </div>
            </div>
           
        </div>
        <div class="col-sm-12">
            <button class="btn btn-primary" (click)="addMore()">Add More</button>
        </div>
    </form>


</div>