
<div class="container">
   
    <div class="row">
        
        <div class="col-sm-6 form-group" >
            <img src="/assets/images/url-logo.jpeg" alt="Pricipal Pic" style="width:300; height:600; margin-top: 18px;">
        </div>
        <div class="col-sm-6 form-group">
             <h3 style="background-color: #213d77; color: white;">
        Principles Message
    </h3>
            <p>Since last 12 years Maharshi Valkmiki Vidya Peeth Inter College has remained a pioneer institution in the
                Rural locality of South-north-east
                In rural areas taking education to the doorstep of the economically challenged in general and the girls
                of the community in
                specific. The college has played a pivotal role in bringing the cultural change within the community
                through
                imparting value based education. Emphasis has been given to provide equal opportunities for every
                student to explore
                their latent talent not only in academics but also in extra-curricular and sports activities. The
                College provides
                congenial environment for both the students and faculty and consistently encouraged them to widen their
                capabilities
                enabling them to become responsible citizens of India</p>
        </div>
    </div>
</div>