<div class="mandiv">

</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 style="background-color: #213d77; color: white;">About College</h2>
            <p> Maharshi Valmiki Vidya Peeth Inter College is Co-Education School, BhainsaTiker Sant Kabir Nagar. The year of the establishment of the  Maharshi Valmiki Vidya Peeth Inter College is 2009, was the realization of a dream by selfless and dedicated educationist and social worker, Mr. Amar Ray
                
                There was no College in the thickly populated south-north-east part of Hainsar Bazar Sant Kabir Nagar stretching from Dhanghat to Sikariganj. Students of this area, especially girls and junior class students, faced difficulties in getting admission to school because of long-distance, which were mostly situated in the south-north-east part of the Haisar Area.
                
                The college aims at equipping students with a moral and intellectual outlook and inculcating in them the highest principles of unity and national integration.
                
                The college attaches great importance to the dissemination of learning and an all-round development of the personality of its students. All efforts are made to create a congenial atmosphere especially for female students and every possible facility for proper education is provided to them .
                
                The college is situated at left side of Duhiya Chauraha Ram Janki Marg. Public transport Auto and Taxi facilities are also available to and from all parts village connected to the Ram Janki Marg .
                
                The College is affiliated to the State Board Utter Pradesh Allahabad university for teaching courses leading to Matric and InterMediate Examinations. The College is also recognized for the registration of students for ITI in all subjects. 
                
                The College has a well-qualified, experienced, and committed teaching faculty.</p>
        </div>
        <!-- <div class="details col-sm" >
            details
        </div> -->
      
    </div>
</div>