<!-- <div class="container-fluid stylish-form">
    <div  *ngIf="loaderService.isLoading | async" class="spinner">
        <div class="spinner-border text-success"></div>
      </div>
    <h2 class="text-center">Welcome to the Maharashi Valmiki Vidya Peeth Inter College</h2>
    <p style="text-align: center;"><i>BhaisaTiker Sant Kabir Nagar UP- 272165.</i></p>
    <div class="row mar20">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="inner-section">
                <form method="POST" [formGroup]="registerForm">
                    <div class="mar20 inside-form">
                        <h2 class="font_white text-center">SIGN UP</h2>
                        <ul>
                <h1>Upload</h1>
                <div>
                    <input type="file" name="profile" (change)="onFileSelect($event)" />
                  </div>
                  <div>
                    <button type="submit">Upload</button>
                  </div>
                  
                            <li class="icon-holder dsp-flex">
                                <i (click)="logIn()" class="fa fa-google"></i>
                            </li>
                        </ul>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil "></i></span>
                            <select class="form-control" formControlName="userType" name="select">

                                <option default>admin</option>
                                <option>faculty</option>
                            </select>
                        </div>
                        <span *ngIf="isValid('userName')">Invalid User Name</span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="text" class="form-control" formControlName="userName" name="text"
                                placeholder="User Name...">
                        </div>
                        <span *ngIf="isValid('userName')">Invalid User Name</span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                            <input type="email" class="form-control" formControlName="userEmail" name="text"
                                placeholder="Email Id...">
                        </div>
                        <span *ngIf="isValid('userEmail')">Invalid User Email</span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                            <input type="password" class="form-control" formControlName="userPassword" name="text"
                                placeholder="Password...">
                        </div>
                        <span *ngIf="isValid('userPassword')">Invalid Password</span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                            <input type="password" class="form-control" name="text" formControlName="cnfPassword"
                                placeholder="Confirm Password...">
                        </div>
                        <span *ngIf="isValid('cnfPassword')">Password did not match</span>

                        <div class="footer text-center">
                            <a (click)="register()" routerLinkActive="active"
                                class="btn btn-neutral btn-round btn-lg">Signup</a>
                        </div>
                        <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
                            <strong>{{msg}}</strong>
                          </div>
                          <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible">
                            <strong>{{msg}}</strong>
                          </div>
                        <div class="footer text-center">
                            <a (click)="moveToLogin()"  routerLinkActive="active"
                                class="btn btn-neutral btn-round btn-lg">Login</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

</div> -->

<div class="form-container">
    <div class="row signup-form">
          <form method="POST" [formGroup]="registerForm">
            <div class="inside-form">
                <div class="row">
                      <div class="col-sm-12 form-group">
                        <h2 class="font_white text-center">Signup </h2>
                        <button className="btnUpload" style="height: 100px; width: 102px; border-radius: 50%;">
                          <input type="file" >Upload
                        </button>
                      </div>
                  </div>
              
              
              <div class="row">
                <div id="fileds" class="col-sm-12 form-group">
                  <select class="form-control" name="std_department" formControlName="userType" required>
                    <option value="" selected>User Type</option>
                    <option value="admin">Admin</option>
                    <option value="faculty">Faculty</option>
                  </select>
                </div>
                <span style="margin: 0px 0px 9px 16px; color: red;" *ngIf="isValid('userType')">Invalid User Type</span>
  
                <div id="fileds" class="col-sm-12 form-group">
                    <input type="text" class="form-control" formControlName="userName" name="text"
                    placeholder="User Name...">
                </div>
                <span style="margin: 0px 0px 9px 16px; color: red;" *ngIf="isValid('userName')">Invalid User Name</span>    
                <div id="fileds" class="col-sm-12 form-group">
                    <input type="email" class="form-control" formControlName="userEmail" name="text"placeholder="Email Id...">
                </div>
                <span style="margin: 0px 0px 9px 16px; color: red;" *ngIf="isValid('userEmail')">Invalid User Email</span>    
            
                <div id="fileds" class="col-sm-12 form-group">
                  <input type="password" class="form-control" name="Password" placeholder="Password..." formControlName="userPassword" required>
                </div>
                <span style="margin: 0px 0px 9px 16px; color: red;" *ngIf="isValid('userPassword')">Invalid Password</span>

                 <div id="fileds" class="col-sm-12 form-group">
                    <input type="password" class="form-control" name="text" formControlName="cnfPassword"
                    placeholder="Confirm Password...">
                </div>
                <span style="margin: 0px 0px 9px 16px; color: red;" *ngIf="isValid('cnfPassword')">Password did not match</span>
                
                  <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
                    <strong>{{msg}}</strong>
                  </div>
                  <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible">
                    <strong>{{msg}}</strong>
                  </div>


                  <div class="col-sm-12 submit form-group">
                    <button class="btn  btn-primary" [disabled]="!registerForm.valid" (click)="register(registerForm.value)">Submit</button>
                  </div>

                  <div class="col-sm-6 signup form-group">
                    <p style="text-align: center;">Don't have an account ?</p>
                  </div>
                  <div class="col-sm-6 signup form-group">
                    <button type="button" class="btn btn-outline-primary" >Login Now</button>
                  </div>
                 <!-- <div  *ngIf="loaderService.isLoading | async" class="spinner">
                   <div class="spinner-border text-success">{{msg}}</div>
                 </div>
                  <div *ngIf="responseMsg" class="alert alert-danger alert-dismissible">
                    <strong>{{msg}}</strong> Failed
                  </div> -->
              </div>
             
            </div>
  
          </form>
    </div>
  
  </div>
  